language: cpp
os:
  - linux
compiler:
  - g++
notifications:
  email:
    on_success: always
    on_failure: always
before_install:
  - travis_retry sudo apt-get update
  - travis_retry sudo apt-get install -qq libgtest-dev 
  - sudo wget https://github.com/google/googletest/archive/release-1.7.0.tar.gz
  - sudo tar xf release-1.7.0.tar.gz
  - cd googletest-release-1.7.0
  - sudo cmake -DBUILD_SHARED_LIBS=ON .
  - sudo make
  - sudo cp -a include/gtest /usr/include
  - sudo cp -a libgtest_main.so libgtest.so /usr/lib/
  - cd "${TRAVIS_BUILD_DIR}"
script:
  - python3 waf configure build